datasets/Assassin.csv
datasets/CEAS_08.csv
datasets/Enron.csv
datasets/final_dataset.csv
datasets/Ling.csv
datasets/TREC_07.csv
datasets/TREC_05.csv
datasets/TREC_06.csv
Models/split_dataset/test_split.csv
Models/split_dataset/train_split.csv
Models/split_dataset/val_split.csv
Models/SVM/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
Models/SVM/.ipynb_checkpoints/svm_comp_study-checkpoint.ipynb
Models/SVM/vectorizations/tfidf_v1/X1_test_tfidf.npz
Models/SVM/vectorizations/tfidf_v1/X1_train_tfidf.npz
Models/SVM/vectorizations/tfidf_v1/X1_val_tfidf.npz
notebooks/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
notebooks/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
notebooks/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
notebooks/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
Models/SVM/vectorizations/sbert_v1/X_test_sbert.npy
Models/SVM/vectorizations/sbert_v1/X_train_sbert.npy
Models/SVM/vectorizations/sbert_v1/X_val_sbert.npy
Models/SVM/vectorizations/sbert_v1/y_test_sbert.npy
Models/SVM/vectorizations/sbert_v1/y_train_sbert.npy
Models/SVM/vectorizations/sbert_v1/y_val_sbert.npy
Models/SVM/vectorizations/sbert_v2/X_test_sbert.npy
Models/SVM/vectorizations/sbert_v2/X_train_sbert.npy
Models/SVM/vectorizations/sbert_v2/X_val_sbert.npy
Models/SVM/vectorizations/sbert_v2/y_test_sbert.npy
Models/SVM/vectorizations/sbert_v2/y_train_sbert.npy
Models/SVM/vectorizations/sbert_v2/y_val_sbert.npy
Models/SVM/vectorizations/sbert_v3/X_test_sbert.npy
Models/SVM/vectorizations/sbert_v3/X_train_sbert.npy
Models/SVM/vectorizations/sbert_v3/X_val_sbert.npy
Models/SVM/vectorizations/sbert_v3/y_test_sbert.npy
Models/SVM/vectorizations/sbert_v3/y_train_sbert.npy
Models/SVM/vectorizations/sbert_v3/y_val_sbert.npy
Models/SVM/vectorizations/tfidf_v1/y1_test_tfidf.npy
Models/SVM/vectorizations/tfidf_v1/y1_train_tfidf.npy
Models/SVM/vectorizations/tfidf_v1/y1_val_tfidf.npy
